
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.topo{
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}




body{
    background-color: #DCDAD7;
}

.container{
    margin-top: 2%;
    
}

.container .cards, #retorno{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 0 2%;
}

.carros{
    border: solid;
    border-radius: 10px;
    width: 21%;
    padding: 1%;
}

.carros img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.carros h1{
   margin-bottom: 2%;
}

.carros p{
    padding: 0 1%;
    margin: 8px;
}

.carros .modelo{
    display: flex;
    margin-bottom: 5px;
    border: solid 1px;
    align-items: center;
    padding: 0 4%;
}

.modelo img{
    height: 35px;
    width: 35px;
}

.modelo p{
    font-size: 1.3rem;
}

.carros h2{
    padding: 0 4%;
    margin-top: 10px;
    border: 1px solid;
    text-align: center;
    width: fit-content;
    margin-bottom: 5px;
}

.topo .menu{
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #0b3b58;
    font-weight: bold;
    font-family: 'Audiowide', sans-serif;
    width: 20%;
  
}

.menu li{
    
    text-align: center;
}

.menu a:hover{
color: rgb(6, 6, 39);
}

.topo img{
    height: 100px;
    width: 100px;
}

.topo div {
    display: flex;
    align-items: center;

}


.topo div p{
    font-family: 'Audiowide', sans-serif;
    color: #0b3b58;
    font-weight: bold;
    font-size: 1.3rem;
}

.carros .botao{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.botao button{
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px outset #0b3b58;
    background-color: #DCDAD7;
    
}

.desc{
    display: flex;
    border: solid 1px;
}

/*forms*/


.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    width: 80%;
    gap: 15px;
    background-color: #0b3b58;
    padding: 2%;
    margin-top: 10px;
    border: solid 1px;
}

.user form{
    background-color: #d6912a;
}

.form fieldset{
    display: flex;
    flex-direction:column;
    width: 70%;
    text-align: start;
    border: none;
    padding-left: 5%;
}

.form fieldset label{
    color: #DCDAD7;
}

.form fieldset h1{
    text-align: center;
    font-size: 1.2rem;
}

form fieldset input{
    padding: 1% ;
    width: 60%;
    margin-bottom: 10px;
    background-color: #DCDAD7;
    border: none;
}

form fieldset textarea{
    width: 50%;
    margin-bottom: 10px;
    background-color: #DCDAD7;
    border: none;
}

form fieldset select{
    width: 20%;
    padding: 1%;
    margin-bottom: 10px;
    background-color: #DCDAD7;
    border: none;
}

.form input[type= submit]{
    width:  100%;
    height: 10%;
    font-size: 1.2rem;
    color: #0b3b58;
}

.user .sub p{
    margin-top: 20%;
}

.user form label{
    color: #0b3b58;
}

.user form input[type = "submit"]{
   
    padding-top: 4%;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;

}

.sub{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.msg{
    position: absolute;
    top: 45%;
    left: 49%;
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sub .msg p{
    color: #0b3b58;

}

form .sub input{
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;

  
}

.sub p{
    color: white;
    margin-top: 40%;
    text-align: center;
    font-size: 2rem;

}

.alterFoto{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 0px;
    gap: 5px;
    background-color: #DCDAD7;
}

.alterFoto img{
    width: 30%;
    border: 1px solid #0b3b58;
}

.alterFoto p{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #0b3b58;
    padding: 5px;
}

.alterFoto p input{
    width: 80%;
}


.submenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    border: solid;
    top: 100;
    z-index: 10;
    border: #fc9700;
  
        
}

.submenu a {
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    background-color: #DCDAD7;
    border: #ffffff 1px solid;
    
}


li{
    width: 20%;
    color: #0b3b58;
    font-weight: bold;
    font-family: 'Audiowide', sans-serif;
    
}

li:hover .submenu{
    opacity: 1;
    visibility: visible;
}

.drop{
    height: 60px;
    padding: 4px;
    border-radius: 10px;
    width: 60px;
    border: 1px solid;
    
}

.drop img{
    width: 60px;
    height: 100%;
    border-radius: 10px;
}


.visible{
    border: solid #0b3b58;
    position: absolute;
    background-color: #d6912a;
    width: 10%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.visible a{
    border: 1px solid;
    width: 100%;
    font-size: 1rem;
}

.drop:hover .visible{
    opacity: 1;
    visibility: visible;
    transition: 0.3s linear;
    border: solid;
}
.yes{
    border-bottom: #0b3b58 1px solid;
    width: 100%;
    font-size: 1rem;
    list-style: none;
}

.titleLogin{
    text-align: center;
    border: white 2px outset;
    margin-bottom: 20px;
    background-color: #0b3b58;
    color: white;
    padding: 5px;
}


.pesquisa{
    border: 1px solid;
    background-color: #d6912a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2%;
    margin-bottom: 4%;
    
}

.pesquisa input{
    padding: 0.4%;
    border-radius: 5px;
    border: 1px outset;
}

.pesquisa input:focus{
    outline: none;
    text-align: center;

}

.pesquisa label{
    color: aliceblue;
    font-weight: 600;
}

.bemvindo{
    padding: 5px;

}

li .bemvindo{
    border: none;
}